<div class="ui segment">
	{{ 'mango-sylius.admin.form.smsManager.availableVariables'|trans }}<br>
	<span class="ui blue horizontal label">&#123;&#123; orderNumber &#125;&#125;</span>
	<span class="ui blue horizontal label">&#123;&#123; trackingNumber &#125;&#125;</span>
	<span class="ui blue horizontal label">&#123;&#123; address.fullName &#125;&#125;</span>
	<span class="ui blue horizontal label">&#123;&#123; address.company &#125;&#125;</span>
	<span class="ui blue horizontal label">&#123;&#123; address.street &#125;&#125;</span>
	<span class="ui blue horizontal label">&#123;&#123; address.postCode &#125;&#125;</span>
	<span class="ui blue horizontal label">&#123;&#123; address.city &#125;&#125;</span>
	<span class="ui blue horizontal label">&#123;&#123; address.provinceCode &#125;&#125;</span>
	<span class="ui blue horizontal label">&#123;&#123; address.provinceName &#125;&#125;</span>
	<span class="ui blue horizontal label">&#123;&#123; address.countryCode &#125;&#125;</span>
</div>
